@mixin card-style {
  border: solid 1px $latest-date;
  background-color: white;
  margin-top: 15px;
  img {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-weight: 300;
    line-height: 1.3em;
  }
}

@mixin divider {
  border-bottom: solid 2px $subhead;
  h2 {
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: .06em;
  }
  i {
    color: orange;
    font-size: .8em;
  }
}
