@mixin card-style {
  border: solid 1px $border;
  background-color: white;
  margin-top: 15px;
  img {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-weight: 300;
    line-height: 1.3em;
  }
}

@mixin divider {
  border-bottom: solid 2px $subhead;
  h2 {
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: .06em;
  }
  i {
    color: orange;
    font-size: .8em;
  }
}

@mixin btn($background-color, $font-color) {
  border-radius: 2px;
  padding: 10px 15px;
  background-color: $background-color;
  border: none;
  color: $font-color;
  text-transform: uppercase;
  font-weight: 200;
}
