.retail {
  background-color: white;
  margin-top: 15px;
  img {
    width: 40%;
    float: left;
  }
  .retail-text {
    width: 56%;
    float: left;
    padding-left: 15px;
    button {
      display: none;
    }
  }
  p:last-of-type {
    margin-top: 4px;
  }
  @media #{$breakpoint-medium} {
    height: 150px;
    overflow: hidden;
    img {
      margin-top: -25px;
    }
    .retail-text {
      span {
        display: none;
      }
      button {
        display: block;
        font-size: 0.8em;
        margin-top: 25px;
        @include btn(tomato, white);
      }
    }
  }
}
