.video-stories {
  background-color: white;
  margin-top: 15px;
  .video-divider {
    @include divider;
    margin-bottom: 15px;
  }
  span {
    color: $latest-date;
  }
  .video {
    position: relative;
    img:first-of-type {
      width: 100%;
    }
    p {
      position: absolute;
      display: inline-block;
      top: 13%;
      left: 4%;
    }
    #main-video {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translateX(-50%);
    }
    #logo-video {
      width: 8%;
      position: absolute;
      top:85%;
      left: 85%;
    }
    @media #{$breakpoint-medium} {
      i {
        position: absolute;
        top: 80%;
        left: 12%;
        transform: translate(-50%, -50%);
      }
      p {
        top: 4%;
        left: 4%;
      }
    }
  }
}

.video-stories {
  .video:nth-child(n+3) {
  display: none;
  @media #{$breakpoint-medium} {
    display: inline-block;
    margin-top: 5px;
  }
  }
}
