html {
  font-family: 'Trirong', serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.menu {
  i {
    font-size: 1.5em;
  }
}

.search {
  i {
  font-size: 1.5em;
  }
}

.latest {
  p {
    text-align: center;
    font-size: 0.8em;
    letter-spacing: .05em;
  }
  p:first-of-type {
    font-style: italic;
    color: $latest-date;
  }
  p:last-of-type {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: $subhead;
  }
}

.retail {
  p {
    margin: 0;
  }
  p:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    font-weight: 300;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: $latest-date;
    margin-top: 30px;
  }
  span {
    color: tomato;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  p:last-of-type {
    font-size: .9em;
    font-weight: 400;
  }
}
